@model TrashCollector.Models.GetZipMapViewModel


<div class="list-inline">
    <div class="col-md-offset-2 col-md-10">
        <table class="table top-buffer">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Label.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Label.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Label.Day)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Label.Zip)
                </th>
            </tr>
            @foreach (var item in Model.Pickup)
            {     

                <tr>
                    <td>
                        @item.LastName
                    </td>
                    <td>
                        @item.Address
                    </td>
                    <td>
                        @item.Day
                    </td>
                    <td>
                        @item.Zip
                    </td>
                </tr>

            }
        </table>

    </div>
</div>
<style>
    #map {
        height: 400px;
        width: 400px;
    }

    html, body {
        height: 100%;
        margin: 10px;
        padding: 20px;
    }
</style>
<br />

<div class="row">
    <div class="col-md-10">
        <div id="map">

        </div>
        <script>
            var map;
            var location = new google.maps.LatLng(@Model.Pickup[0].Lat, Model.Pickup[0].Lng);

            function initMap() {
                map = new google.maps.Map(document.getElementById('map'), {
                    center: { location },
                    zoom: 4
                });
            }
        </script>
        
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDA8ddaWI6kXaQoDUOO9Ds14PAhFpQ2nZU&callback=initMap" async defer></script>
        
    </div>
</div>

